{:deps {org.clojure/clojure {:mvn/version "1.9.0"}
        clojure.java-time {:mvn/version "0.3.2"}
        http-kit {:mvn/version "2.3.0"}
        ring {:mvn/version "1.7.1"}
        compojure {:mvn/version "1.6.1"}
        com.taoensso/tufte {:mvn/version "2.1.0-RC4"}}

 :paths ["src" "test" "resources"]

 :aliases {:graal-prep
           {:extra-paths ["dev"]
            :main-opts ["-m" "org-analyzer.graal-resource-indexer"]}

           :http-server
           {:main-opts ["-m" "org-analyzer.http-server"]}

           :cljs
           {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.520"}
                         com.bhauman/figwheel-main {:mvn/version "RELEASE"}
                         cljs-http {:mvn/version "0.1.46"}
                         reagent {:mvn/version "0.8.1"}}
            :main-opts ["-m" "figwheel.main" "-bo" "dev"]}

           :cljs-prod
           {:main-opts ["-m" "figwheel.main" "-bo" "prod"]}

           :depstar {:extra-deps
                     {seancorfield/depstar {:mvn/version "0.3.1"}}}

           :aot
           {:extra-paths ["target/classes"]
            :main-opts ["-e" "(binding[*compile-path*\"target/classes\"](compile,'org-analyzer.http-server))"]}}}
