{:deps {org.clojure/clojurescript {:mvn/version "1.10.520"}
        clojure.java-time {:mvn/version "0.3.2"}
        reagent {:mvn/version "0.8.1"}
        ring {:mvn/version "1.7.1"}
        compojure {:mvn/version "1.6.1"}
        cljs-http {:mvn/version "0.1.46"}}

 :paths ["src" "test"]

 :aliases {

           :http-server
           {:extra-paths ["resources" "target"]
            :main-opts ["-m" "org-analyzer.http-server"]}

           ;; for starting nrepl clj & cljs servers for live development
           :fig
           {:extra-paths ["resources" "target"]
            :extra-deps {com.bhauman/figwheel-main {:mvn/version "RELEASE"}}
            :main-opts ["-m" "suitable.nrepl"]}

           :fig-prod
           {:extra-paths ["resources" "target"]
            :main-opts ["-m cljs.main -co prod.cljs.edn -c org-analyzer.browser"]}}}

