^{:watch-dirs ["src"]
  :css-dirs ["resources/public/css"]
  :hot-reload-cljs true
  :open-url false
  :reload-clj-files #{:clj :cljc}
  :cljs-devtools true
  :ansi-color-output true
  :extra-main-files {:expts {:main org-analyzer.view.expts}}}
{:main org-analyzer.view.main
 :output-to "target/public/cljs-out/main.js"
 ;; :main org-analyzer.view.expts
 ;; :output-to "target/public/cljs-out/expts-main.js"
 :output-dir "target/public/cljs-out/dev"}
