* {
  --mdc-theme-primary: black;
}
body {
  overflow: scroll;
  margin: 0!important;
}
.app {
  margin: 0;
  font-family: roboto, sans-serif;
  display: flex;
  flex-direction: column;
  font-size: small;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.selection {
  pointer-events: none;
  position: absolute;
  background-color: rgba(100, 100, 100, 0.3);
}
.loading-indicator {
  z-index: 1;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.loading-spinner {
  transform: scale(2);
  color: official;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.loading-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.loading-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.loading-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.loading-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.loading-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.loading-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.loading-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.loading-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.loading-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.loading-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.loading-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.loading-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes loading-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loading-spinner div {
  transform-origin: 32px 32px;
  animation: loading-spinner 1.2s linear infinite;
}
.loading-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 30px;
  width: 5px;
  height: 15px;
  border-radius: 40%;
  background: #ccc;
}
.controls {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  top: 20px;
  background-color: white;
}
.search-bar {
  padding: 10px;
  display: flex;
}
.search-bar.panel {
  flex-direction: row;
  justify-content: center;
  position: relative;
}
.search-bar .search-input {
  flex-grow: 1;
  max-width: 82%;
}
@media (min-width: 1000px) {
  .search-bar .search-input {
    max-width: 60%;
  }
}
.search-bar .loading {
  margin-left: 5px;
  opacity: 0;
}
.search-bar .loading.visible {
  opacity: 1;
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition-property: transform;
  transition-duration: 1s;
}
.search-bar .loading:after {
  font-family: "Material Icons";
  font-size: 20px;
  content: "hourglass_full";
  height: 10px;
  color: #999;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button.help {
  position: absolute;
  right: 5px;
}
.help-view {
  z-index: 2;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  color: white;
  padding: 1.5em 0;
  font-size: 1.5em;
}
.help-view .content {
  padding: 0 30px;
}
.help-view button.close {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -10px;
  margin-right: 10px;
  height: unset;
}
.help-view button.close i.material-icons {
  font-size: 48px;
  line-height: 2;
}
.panel {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.calendar-selection {
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  padding: 20px;
}
.calendar {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px 25px;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-row-gap: 20px;
  grid-column-gap: 12px;
}
@media (min-width: calc(6*6*15px + 14*6px + 4*10px)) {
  .calendar {
    grid-template-columns: repeat(6, min-content);
  }
}
@media (min-width: calc(12*6*15px + 14*12px + 4*10px)) {
  .calendar {
    grid-template-columns: repeat(12, min-content);
  }
}
.month {
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: calc(90px);
}
.month .month-date {
  cursor: pointer;
}
.month.january {
  grid-column-start: 1;
  grid-column-end: 2;
}
.month.february {
  grid-column-start: 2;
  grid-column-end: 3;
}
.month.march {
  grid-column-start: 3;
  grid-column-end: 4;
}
.month.april {
  grid-column-start: 1;
  grid-column-end: 2;
}
.month.may {
  grid-column-start: 2;
  grid-column-end: 3;
}
.month.june {
  grid-column-start: 3;
  grid-column-end: 4;
}
.month.july {
  grid-column-start: 1;
  grid-column-end: 2;
}
.month.august {
  grid-column-start: 2;
  grid-column-end: 3;
}
.month.september {
  grid-column-start: 3;
  grid-column-end: 4;
}
.month.october {
  grid-column-start: 1;
  grid-column-end: 2;
}
.month.november {
  grid-column-start: 2;
  grid-column-end: 3;
}
.month.december {
  grid-column-start: 3;
  grid-column-end: 4;
}
@media (min-width: calc(6*6*15px + 14*6px + 4*10px)) {
  .month.january {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .month.february {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .month.march {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .month.april {
    grid-column-start: 4;
    grid-column-end: 5;
  }
  .month.may {
    grid-column-start: 5;
    grid-column-end: 6;
  }
  .month.june {
    grid-column-start: 6;
    grid-column-end: 7;
  }
  .month.july {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .month.august {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .month.september {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .month.october {
    grid-column-start: 4;
    grid-column-end: 5;
  }
  .month.november {
    grid-column-start: 5;
    grid-column-end: 6;
  }
  .month.december {
    grid-column-start: 6;
    grid-column-end: 7;
  }
}
@media (min-width: calc(12*6*15px + 14*12px + 4*10px)) {
  .month.january {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .month.february {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .month.march {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .month.april {
    grid-column-start: 4;
    grid-column-end: 5;
  }
  .month.may {
    grid-column-start: 5;
    grid-column-end: 6;
  }
  .month.june {
    grid-column-start: 6;
    grid-column-end: 7;
  }
  .month.july {
    grid-column-start: 7;
    grid-column-end: 8;
  }
  .month.august {
    grid-column-start: 8;
    grid-column-end: 9;
  }
  .month.september {
    grid-column-start: 9;
    grid-column-end: 10;
  }
  .month.october {
    grid-column-start: 10;
    grid-column-end: 11;
  }
  .month.november {
    grid-column-start: 11;
    grid-column-end: 12;
  }
  .month.december {
    grid-column-start: 12;
    grid-column-end: 13;
  }
}
.weeks {
  display: flex;
  flex-direction: row;
}
.week {
  display: flex;
  flex-direction: column;
}
.week .week-name {
  margin: 5px;
}
.week:first-child .week-no {
  flex-grow: 1;
}
.week .week-no {
  cursor: pointer;
  color: #AAA;
  text-align: center;
  opacity: 0;
}
.week .week-no:hover {
  opacity: 1;
}
.day {
  cursor: pointer;
  outline: 1px solid lightgray;
  width: 15px;
  height: 15px;
}
.day.emph-0 {
  background-color: none;
}
.day.emph-1 {
  background-color: rgba(0, 255, 100, 0.1);
}
.day.emph-2 {
  background-color: rgba(0, 255, 100, 0.2);
}
.day.emph-3 {
  background-color: rgba(0, 255, 100, 0.3);
}
.day.emph-4 {
  background-color: rgba(0, 255, 100, 0.4);
}
.day.emph-5 {
  background-color: rgba(0, 255, 100, 0.5);
}
.day.emph-6 {
  background-color: rgba(0, 255, 100, 0.6);
}
.day.emph-7 {
  background-color: rgba(0, 255, 100, 0.7);
}
.day.emph-8 {
  background-color: rgba(0, 255, 100, 0.8);
}
.day.emph-9 {
  background-color: rgba(0, 255, 100, 0.9);
}
.day.emph-10 {
  background-color: #00ff64;
}
.day.selected.emph-0 {
  background-color: rgba(255, 110, 10, 0.3);
}
.day.selected.emph-1 {
  background-color: rgba(255, 110, 10, 0.3);
}
.day.selected.emph-2 {
  background-color: rgba(255, 110, 10, 0.3);
}
.day.selected.emph-3 {
  background-color: rgba(255, 110, 10, 0.3);
}
.day.selected.emph-4 {
  background-color: rgba(255, 110, 10, 0.4);
}
.day.selected.emph-5 {
  background-color: rgba(255, 110, 10, 0.5);
}
.day.selected.emph-6 {
  background-color: rgba(255, 110, 10, 0.6);
}
.day.selected.emph-7 {
  background-color: rgba(255, 110, 10, 0.7);
}
.day.selected.emph-8 {
  background-color: rgba(255, 110, 10, 0.8);
}
.day.selected.emph-9 {
  background-color: rgba(255, 110, 10, 0.9);
}
.day.selected.emph-10 {
  background-color: #ff6e0a;
}
.day.highlighted:after {
  font-family: "Material Icons";
  content: "star";
  color: #999;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.day-detail {
  white-space: nowrap;
  width: 100%;
}
.day-detail > div {
  margin: 0 10px;
}
.day-detail .date {
  font-weight: bold;
  margin-bottom: 10px;
}
.day-detail .activity-count {
  margin-bottom: 10px;
  color: #666;
}
.day-detail .hours {
  color: #666;
}
.day-detail .avg-per-day {
  color: #666;
}
.day-detail .avg-per-week {
  color: #666;
}
.day-detail .duration {
  margin-right: 1ex;
}
.day-detail .clock-list {
  margin-bottom: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: minmax(250px, min-content) minmax(6ex, min-content) minmax(20ex, min-content) min-content;
  align-items: flex-end;
  grid-column-gap: 6px;
}
.day-detail .clock-list * {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 1.2em;
}
.day-detail .clock-list .duration {
  color: #666;
}
.day-detail .clock-list .path {
  color: #666;
}
.day-detail .clock-list .name.highlighted,
.day-detail .clock-list .path.highlighted,
.day-detail .clock-list .duration.highlighted {
  color: salmon;
}
@media (max-width: 860px) {
  .day-detail .clock-list {
    grid-template-columns: minmax(250px, min-content) minmax(6ex, min-content) minmax(20ex, min-content);
  }
  .day-detail .clock-list .tags {
    display: none;
  }
}
.by-minute {
  height: 100%;
}
.md-chip {
  display: inline-block;
  background: #e0e0e0;
  padding: 0 12px;
  border-radius: 32px;
  font-size: 0.9em;
}
.md-chip.md-chip-hover:hover {
  background: #ccc;
}
.md-chip-clickable {
  cursor: pointer;
}
.md-chip,
.md-chip-icon {
  height: 16px;
  line-height: 16px;
}
.md-chip-icon {
  display: block;
  float: left;
  background: #009587;
  width: 16px;
  border-radius: 50%;
  text-align: center;
  color: white;
  margin: 0 8px 0 -12px;
}
.md-chip-remove {
  display: inline-block;
  background: #aaa;
  border: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 0;
  margin: 0 -4px 0 4px;
  cursor: pointer;
  font: inherit;
  line-height: 20px;
}
.md-chip-remove:after {
  color: #e0e0e0;
  content: 'x';
}
.md-chip-remove:hover {
  background: #999;
}
.md-chip-remove:active {
  background: #777;
}
.md-chips {
  padding: 2px 0 0;
}
.md-chips .md-chip {
  margin: 0 2px 3px 0;
}
.md-chip-raised {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.material-button {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: .875rem;
  line-height: 2.25rem;
  font-weight: 500;
  letter-spacing: .0892857143em;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 8px 0 8px;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  height: 36px;
  border: none;
  outline: none;
  line-height: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 4px;
}
.material-button:not(:disabled) {
  background-color: transparent;
  color: #000000;
}
.material-button:hover {
  cursor: pointer;
}
.material-button:hover::before {
  opacity: .04;
}
.material-button::before,
.material-button::after {
  background-color: #000000;
  top: calc(-50%);
  left: calc(-50%);
  width: 200%;
  height: 200%;
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  content: "";
}
.material-button::before {
  transition: opacity 15ms linear, background-color 15ms linear;
  z-index: 1;
}
.elev-2 {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.stalker {
  position: absolute;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
}
.stalker.hidden {
  display: none;
}
