* {--mdc-theme-primary: black;}

// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

body { overflow: scroll; }

.app {
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
    font-size: small;
}

// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selection {
    pointer-events: none;
    position: absolute;
    background-color: rgba(100, 100, 100, .3);
}

// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

.controls {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    top: 20px;
    background-color: white;
    z-index: 1;
}

// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

@day-width : 15px;
@day-height : 15px;

.panel {
   margin: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow: hidden;
}

@row-12-month : calc(12*6*@day-width + 14*12px + 4*10px);
@row-6-month : calc(6*6*@day-width + 14*6px + 4*10px);
@row-3-month : calc(3*6*@day-width + 14*3px + 4*10px);


.calendar {
    position: relative;

    overflow: hidden;
    padding: 10px 10px 25px;

    display: grid;
    grid-template-columns: repeat(3, min-content);
    @media (min-width: @row-6-month) {
        grid-template-columns: repeat(6, min-content);
    }
    @media (min-width: @row-12-month) {
        grid-template-columns: repeat(12, min-content);
    }
    grid-row-gap: 20px;
    grid-column-gap: 12px;
}

.month {
    display: flex;
    align-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: calc(6 * @day-width);

    .month-date { cursor: pointer; }

    &.january   { grid-column-start: 1; grid-column-end: 2; };
    &.february  { grid-column-start: 2; grid-column-end: 3 };
    &.march     { grid-column-start: 3; grid-column-end: 4; };
    &.april     { grid-column-start: 1; grid-column-end: 2; };
    &.may       { grid-column-start: 2; grid-column-end: 3; };
    &.june      { grid-column-start: 3; grid-column-end: 4; };
    &.july      { grid-column-start: 1; grid-column-end: 2; };
    &.august    { grid-column-start: 2; grid-column-end: 3; };
    &.september { grid-column-start: 3; grid-column-end: 4; };
    &.october   { grid-column-start: 1; grid-column-end: 2; };
    &.november  { grid-column-start: 2; grid-column-end: 3; };
    &.december  { grid-column-start: 3; grid-column-end: 4; };

    @media (min-width: @row-6-month) {
        &.january   { grid-column-start: 1; grid-column-end: 2; };
        &.february  { grid-column-start: 2; grid-column-end: 3 };
        &.march     { grid-column-start: 3; grid-column-end: 4; };
        &.april     { grid-column-start: 4; grid-column-end: 5; };
        &.may       { grid-column-start: 5; grid-column-end: 6; };
        &.june      { grid-column-start: 6; grid-column-end: 7; };
        &.july      { grid-column-start: 1; grid-column-end: 2; };
        &.august    { grid-column-start: 2; grid-column-end: 3; };
        &.september { grid-column-start: 3; grid-column-end: 4; };
        &.october   { grid-column-start: 4; grid-column-end: 5; };
        &.november  { grid-column-start: 5; grid-column-end: 6; };
        &.december  { grid-column-start: 6; grid-column-end: 7; };
    }

    @media (min-width: @row-12-month) {
        &.january   { grid-column-start: 1; grid-column-end: 2; };
        &.february  { grid-column-start: 2; grid-column-end: 3 };
        &.march     { grid-column-start: 3; grid-column-end: 4; };
        &.april     { grid-column-start: 4; grid-column-end: 5; };
        &.may       { grid-column-start: 5; grid-column-end: 6; };
        &.june      { grid-column-start: 6; grid-column-end: 7; };
        &.july      { grid-column-start: 7; grid-column-end: 8; };
        &.august    { grid-column-start: 8; grid-column-end: 9; };
        &.september { grid-column-start: 9; grid-column-end: 10; };
        &.october   { grid-column-start: 10; grid-column-end: 11; };
        &.november  { grid-column-start: 11; grid-column-end: 12; };
        &.december  { grid-column-start: 12; grid-column-end: 13; };
    }

}

.weeks {
    display: flex;
    flex-direction: row;
}

.week {
    display: flex;
    flex-direction: column;

    .week-name {
        margin: 5px;
    }

    // push down week days of first week as they might not start with monday
    &:first-child {
        .week-no { flex-grow: 1; }
    }

    .week-no {
        cursor: pointer;
        color: #AAA;
        text-align: center;
        opacity: 0;

        &:hover { opacity: 1; }
    }
}

.day {
    cursor: pointer;
    outline: 1px solid lightgray;
    width: @day-width;
    height: @day-height;

    // &.selected {
    //     border: 3px solid orange;
    //     box-sizing: border-box;
    // }

    &.emph-0 {background-color: none;}
    &.emph-1 {background-color: rgba(0,255,100, .1);}
    &.emph-2 {background-color: rgba(0,255,100, .2);}
    &.emph-3 {background-color: rgba(0,255,100, .3);}
    &.emph-4 {background-color: rgba(0,255,100, .4);}
    &.emph-5 {background-color: rgba(0,255,100, .5);}
    &.emph-6 {background-color: rgba(0,255,100, .6);}
    &.emph-7 {background-color: rgba(0,255,100, .7);}
    &.emph-8 {background-color: rgba(0,255,100, .8);}
    &.emph-9 {background-color: rgba(0,255,100, .9);}
    &.emph-10 {background-color: rgba(0,255,100, 1);}

    &.selected.emph-0 {background-color: rgba(255,110,10, .3);}
    &.selected.emph-1 {background-color: rgba(255,110,10, .3);}
    &.selected.emph-2 {background-color: rgba(255,110,10, .3);}
    &.selected.emph-3 {background-color: rgba(255,110,10, .3);}
    &.selected.emph-4 {background-color: rgba(255,110,10, .4);}
    &.selected.emph-5 {background-color: rgba(255,110,10, .5);}
    &.selected.emph-6 {background-color: rgba(255,110,10, .6);}
    &.selected.emph-7 {background-color: rgba(255,110,10, .7);}
    &.selected.emph-8 {background-color: rgba(255,110,10, .8);}
    &.selected.emph-9 {background-color: rgba(255,110,10, .9);}
    &.selected.emph-10 {background-color: rgba(255,110,10, 1);}
}

// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// analysis

.day-detail {
    // font-size: 0.7em;
    white-space: nowrap;
    width: 100%;

    & > div { margin: 0 10px; }

    .date { font-weight: bold; margin-bottom: 10px; }

    .activity-count { margin-bottom: 10px; color: #666; }
    .hours { color: #666; }
    .avg-per-day { color: #666; }
    .avg-per-week { color: #666; }


    .duration {
        margin-right: 1ex;
    }

    .clock-list {
        margin-bottom: 10px;
        overflow: hidden;
        display: grid;

        grid-template-columns: minmax(250px, min-content) minmax(6ex, min-content) minmax(20ex, min-content) min-content;

        align-items: flex-end;
        grid-column-gap: 6px;

        * {
            overflow: hidden;
            text-overflow: ellipsis;
            height: 1.2em;
        }

        .duration {color: #666;}
        .path {color: #666;}
        .name {}
        .tags {}

        @media (max-width: 860px) {
            grid-template-columns: minmax(250px, min-content) minmax(6ex, min-content) minmax(20ex, min-content);
            .tags {display: none;}
        }

    }


}

.by-minute {
    height: 100%;
    .activities-by-minute-canvas {

    }
}

// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// chips
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

@md-chip-height: 16px;
@md-chip-color: #e0e0e0;

.md-chip {
  display: inline-block;
  background: @md-chip-color;
  padding: 0 12px;
  border-radius: 32px;
  font-size: 0.9em;

  &.md-chip-hover:hover {
    background: #ccc;
  }
}

.md-chip-clickable {
 cursor: pointer;
}

.md-chip, .md-chip-icon {
  height: @md-chip-height;
  line-height: @md-chip-height;
}

.md-chip-icon {
  display: block;
  float: left;
  background: #009587;
  width: @md-chip-height;
  border-radius: 50%;
  text-align: center;
  color: white;
  margin: 0 8px 0 -12px;
}

.md-chip-remove {
  display: inline-block;
  background: #aaa;
  border: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 0;
  margin: 0 -4px 0 4px;
  cursor: pointer;
  font: inherit;
  line-height: 20px;

  &:after {
    color: @md-chip-color;
    content: 'x';
  }
  &:hover {
    background: #999;
  }
  &:active {
    background: #777;
  }
}

.md-chips {
  padding: 2px 0 0;
  .md-chip { margin: 0 2px 3px 0; }
}

.md-chip-raised {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}


// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

@main-color : black;

.material-button {
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: .875rem;
    line-height: 2.25rem;
    font-weight: 500;
    letter-spacing: .0892857143em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 8px 0 8px;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 64px;
    height: 36px;
    border: none;
    outline: none;
    line-height: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    overflow: hidden;
    vertical-align: middle;
    border-radius: 4px;

    &:not(:disabled) {
        background-color: transparent;
        color: @main-color;
    }

    &:hover {
        cursor: pointer;
    }


    &:hover::before {
        opacity: .04;
    }

    &::before, &::after {
        background-color: @main-color;
        top: calc(50% - 100%);
        left: calc(50% - 100%);
        width: 200%;
        height: 200%;
        position: absolute;
        border-radius: 50%;
        opacity: 0;
        pointer-events: none;
        content: "";
    }
    &::before {
        transition: opacity 15ms linear,background-color 15ms linear;
        z-index: 1;
    }
}


// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

.elev-2 {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
                0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                0px 1px 5px 0px rgba(0,0,0,.12);
}


// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

.stalker {
    position: absolute;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;

    &.hidden {
        display: none;
    }
}
